<html xmlns="http://w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>PlantillaTh</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <header th:fragment="encabezado" >
            <div>Gestiones BANCO DE GUATEMALA</div>
        </header>
        
        <footer th:fragment="piepagina">
            <p>Creador por Samuel Perez <a href="http://chn.com.gob" target="_blak">Samuel_Perez</a></p>
        </footer>
        
        
    </body>
</html>
